.main_nav {
    /* border: 2px solid red; */
    display: flex;
    /* background-image: url('https://cdn.wallpapersafari.com/24/74/zgeTuV.jpg'); */
    background-image: url('../Image Section/0af6ce3e-b27a-4722-a5f0-e32af4df3045_what_is_netflix_5_en.png');
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main_sec_navbar {
    /* position: sticky; */
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
    background-repeat: no-repeat;
    filter: brightness(85%);
    padding: 10px;
}

.heading {
    /* border: 1px solid red; */
    display: flex;
    padding: 0px 200px;
    align-items: center;
}

.heading img {
    width: 150px;
    height: auto;
}

.listing_sec_nav {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    padding: 0px 150px;
}

.listing_sec_nav select {
    background-color: rgba(0, 0, 0, 0.477);
    border: 1px solid rgb(193, 193, 193);
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
}

.listing_sec_nav button {
    background-color: #ff000d;
    border: none;
    color: #fff;
    padding: 6.5px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s ease;
}

.listing_sec_nav button:hover {
    background-color: #c00b14;
    transition: .3s ease;
}

.head_start {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
}

.text_in_image {
    text-align: center;
    margin-top: 200px;
}

.text_in_image h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.text_in_image p {
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.text_in_image span {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.text_f_b {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 220px;
}



.text label {
    color: white;
}

@media screen and (max-width : 1100px) {

    .main_nav {
        /* display: block; */
        width: 100%;
        background-size: 100% 100%;
    }

    .main_sec_navbar {
        width: 100%;
    }

    .heading {
        padding: 0px 5%;
    }

    .listing_sec_nav {
        padding: 0px 5%;
    }

    .listing_sec_nav button {
        width: 100%;
        padding: 5px 10px;
        transition: .3s ease;
    }

    .head_start {
        width: 100%;
    }

    .text_in_image h1,
    p,
    span {
        padding: 12px 12px;
    }

    .text_f_b {
        flex-direction: column;
    }
}

@media screen and (max-width : 500px) {

    .heading img {
        width: 100px;
        height: auto;
    }

    .listing_sec_nav button {
        width: 100%;
        padding: 5px 10px;
        transition: .3s ease;
    }
}