.main_movie_contained {
    width: 100%;
    max-width: 92%;
    margin: auto;
    height: auto;
    color: white;
}

.main_movie_contained h4 {
    font-size: 30px;
}

.main_movie {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
}

.main_movie::-webkit-scrollbar {
    display: none;
}

.sub_movies_cards {
    margin-right: 30px;
}

.movie_image_card {
    width: 200px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transform: scale(1);
    transition: .2s ease-in-out;
}

.movie_image_card:hover {
    transition: .2s ease-in-out;
    transform: scale(1.2);
}

.movie_name {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

.selected_image_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selected_image {
    margin: auto;
    width: 300px;
    height: 500px;
    cursor: pointer;
}

.caption_new {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.overview_new {
    text-align: justify;
    font-size: 18px;
    display: flex;
    padding: 15px 45px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

@media screen and (max-width:1050px) {
    .caption_new {
        font-size: 30px;
        padding: 20px 20px;
    }

    .overview_new {
        text-align: justify;
        font-size: 15px;
        font-weight: 400;
    }

    .selected_image {
        margin: auto;
        width: 200px;
        height: 300px;
        cursor: pointer;
    }
}